* {
    box-sizing: border-box;
}
// importing partial files 
 @import "./partials/allmusic";

//variables 
$buttonColor : #ff7400;
$textWhite: white;
$textGray: gray;


// Mixin 
@mixin linkToButton {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    border: 1px solid $buttonColor;
    padding: 12px 45px;
    background-color: $buttonColor;
    color: $textWhite;
    border-radius: 30px;
    font-weight: bold;
}

@mixin card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

body {
    margin: 0px;
    letter-spacing: 1px;
    min-height: 725px;
    min-width: 1000px;
    font-family: 'Bitter', serif;
    position: relative;
}

#landingPageBody {
    padding-bottom: 550px;  // same as footer height
}
#root {
    height: 100%;   
}
header {
    background: transparent;
    z-index: 1;
    width: 100%;
    height: 10vh;
    position: fixed;
    top:0;left: 0; right: 0;
    #headerInnerDiv {
        width: 80%;
        margin: auto;
        display: flex;
        #navLeft {
            width: 50%;
            font-weight: 600;
            font-size: 22px;
            padding-left: 30px;
        }
        #navRight{
            width: 50%;
            ul {
                display: flex;
                justify-content: flex-end;
                list-style-type: none;
                margin-top: 22px;
                margin-bottom: 22px;
                padding-left: 0;
                
                li {
                    margin-right: 10px;  
                    padding-right: 25px;
                    a {
                        color: $textWhite; 
                    }
                }
                li:last-child {
                    padding-right: 0;
                    padding-left: 25px;
                    border-left: 1px solid $textWhite;
                }
            }
        }
    }
    
}
 a{
    text-decoration: none;
}

.innerContainer .imageDiv {
    position: absolute;
    bottom: 0px;
    left: 0px;
    .jumbotronImage {
       width: 500px; height: 600px;
       margin-left: 60px;
       margin-top: 50px;
    }
}

.mainContainer {
    height: 670px; 
    width: 100%;
    color: $textWhite;
    background: linear-gradient(to bottom, #56abe6 0%,
         #5cb8f6 25%, #63bdfb 50%,
         #66c0fc 75%, #64befa 100%);
    position: relative;
    .termsDiv { 
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            padding-bottom: 25px;
    }
    .mainTextContainer {
        height: 70%;
        width: 70%;
        margin: 5%;
        position: absolute;
        left: 10%;
        right: 10%;
        bottom: 0px;
        display: flex;
        flex-direction: column;
       
        .upperTextContainer {
            flex: 1;
            position: relative;
            h1{
                font-size: 80px;
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: 0;
                margin-bottom: 0;
            }
        }
        .lowerTextContainer {
            flex: 1;
            text-align: center;
            .lowerText {
                height: 50%;
            }
            h2 {
                font-size: 32px;
                margin-bottom: 30px;
            }
            a {
                @include linkToButton;
            }
        }
    }
}

// Section style 

 #landingPageSection {
    height: 1250px;
    .startListeningDiv {
        text-align: center;
        padding: 50px 0;
        height: 275px;
        h1 {
            margin-bottom: 0;
            font-weight: bolder;
            font-size: 48px;
            font-weight: 900;
            letter-spacing: -0.02em;
            line-height: 1.2;
        }
        p {
            margin-bottom: 30px;
            margin-top: 9px;
            font-size: 18px;
            font-weight: 400;
        }
        a {
            @include linkToButton;
        }
         
    }
    .albumDiv {
        height: 975px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 100px;
        ul {
            display: flex;
            height: 100%;
            justify-content: space-around;
            list-style-type:none;
            flex-wrap: wrap;
            padding-left: 0;
            padding-top: 20px;
            li {
                flex-basis: 30%;
                margin-bottom: 25px;
            }
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
}

li {
    figure {
        margin: 0;
        @include card;  
        &:hover {
             box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.4);
             cursor: pointer;
        }
    }
    figcaption {
        
        p:first-child {
            margin-bottom: 5px;
            font-weight: bolder;
            color: rgb(78, 76, 76);
        }
        p:last-child {
            margin-top: 0;
            color: $textGray;
            font-size: 14px;
        }   
    }
}

// footer 
#landingPageFooter {
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0px;
    left: 0px; right: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
    color: $textWhite;
    background: black;
    .aboutMainDiv {
        height: 70%;
        display: flex;
        justify-content: space-around;
        div {
            flex: 1;
        }
        div:first-child {
            text-align: center;
        }
    }
    .footerIcons {
        height: 30%;
        text-align: center;
        img {
            padding: 20px;
        }
    }
    h5 {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: gray;
    }
}



